body {
    text-align: center;
    background-color: #a5e5f2;
    margin: 0;
    height: 100vh;
}

/* NAV BAR */
.header-container {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   height: 70px;
   background-color: #ffffff;
}

.header-container > div:first-child {
    margin-right: auto;
}

.title {
    font-family: Bitter;
    font-size: 40px;
    margin: 15px;
    cursor: pointer;
}

.search, .about {
    font-family: Bitter;
    font-size: 28px;
    padding: 5px;
    margin: 15px;
    cursor: pointer;
}

.title:hover, .search:hover, .about:hover {
    color: #a5e5f2;
}

/* PAGE DESCRIPTION */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 20px;
}

/* CONTACT FORM */
input, button, textarea {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    background-color: #e4eced;
}

.contact-form {
    border: 2px solid #000000;
    border-radius: 10px;
    max-width: 300px;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 2px 2px 1px;
}

.contact-header {
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 2px solid #000000;
}

.contact-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

textarea {
    min-height: 100px;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
}

.email, .message {
    margin-top: 15px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    align-self: flex-end;
    margin-top: 15px;
    cursor: pointer;
    color: #000000;
}

button:hover {
    color: #ffffff;
    background-color: #a5e5f2;
}

/* SOCIAL MEDIA ICONS */
.socialmedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.buffer {
    width: 40vw;
}

.instagram, .twitter, .github, .linkedin {
    width: 50px;
    height: 50px;
}