body {
    text-align: center;
    background-color: #ffffff;
    margin: 0;
}

.header-container {
    display: flex;
   flex-direction: row; /* default */
   justify-content: flex-start; /* default */
   height: 70px;
   background-color: #F03F3C;
}

.title-container {
    display: flex;
    justify-content: flex-start;
}

.menu-container {
    display: flex;
    flex-direction: row;
    margin-left: auto;

    align-items: flex-end;
}

.title {
    font-family: Bitter;
    font-size: 40px;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
}

.search, .about {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
}

.description {
    display: grid;
    position: relative;
    text-align: left;

}

.contact-form {
    display: grid;
    position: relative;
    text-align: right;
    margin-left: 50%;
}

input {
    border: 0;
    border: 2px solid #a5e5f2;
    border-radius: 20px;
    outline: none;
    padding: 0.5rem;
    margin: 4px;
    width: 250px;
    font-size: 12px;
    text-transform: lowercase;
  }

input[type="message"] {
    padding: 10px;
    padding-bottom: 100px;
    }

input[type="submit"] {
    background: #a5e5f2;
    color: #ffffff;
    font-weight: 800;
    padding: 10px;
    width: 100px;
    cursor: pointer;
}

.socialmedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20%;
}

.buffer {
    width: 40vw;
}

.instagram {
    width: 50px;
    height: 50px;
}

.twitter {
    width: 50px;
    height: 50px;
}

.github {
    width: 50px;
    height: 50px;
}

.linkedin {
    width: 50px;
    height: 50px;
}