body {
    text-align: center;
    background-color: #a5e5f2;
    margin: 0;
    height: 100vh;
}

/* NAV BAR */
.header-container {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   height: 70px;
   background-color: #ffffff;
}

.header-container > div:first-child {
    margin-right: auto;
}

.title {
    font-family: Bitter;
    font-size: 40px;
    margin: 15px;
    cursor: pointer;
}

.search, .about {
    font-family: Bitter;
    font-size: 28px;
    padding: 5px;
    margin: 15px;
    cursor: pointer;
}

.title:hover, .search:hover, .about:hover {
    color: #a5e5f2;
}

/* PAGE DESCRIPTION */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 20px;
}

/* CONTACT FORM */
input, button, textarea {
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    background-color: #ffffff;
}

.contact-form {
    border-radius: 10px;
    max-width: 300px;
    margin: 0 auto;
}

.contact-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 800;
}

.contact-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

textarea {
    min-height: 100px;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.name, .email, .message {
    margin-top: 15px;
    font-weight: 800;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    align-self: flex-end;
    margin-top: 15px;
    cursor: pointer;
    color: #000000;
}

button:hover {
    color: #ffffff;
    background-color: #a5e5f2;
}

/* SOCIAL MEDIA ICONS */
.socialmedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.buffer {
    width: 40vw;
}

.instagram, .twitter, .github, .linkedin {
    width: 50px;
    height: 50px;
}

/* Styling for contact form inspired from Codepen: 
Copyright (c) 2020 by Alex (https://codepen.io/AlexKP/pen/xJjYwZ)

Permission is hereby granted, free of charge, 
to any person obtaining a copy of this software 
and associated documentation files (the "Software"), 
to deal in the Software without restriction, 
including without limitation the rights to use, copy, 
modify, merge, publish, distribute, sublicense, 
and/or sell copies of the Software, and to permit persons 
to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be 
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, 
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES 
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. 
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, 
DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, 
ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE 
OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/