body {
    text-align: center;
    background-color: #ffffff;
    color: black;
}

/* for homepg.html */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #a6e3a1;
    font-size: 72px;
}

#homepage-button {
    border: 2px solid #a6e3a1;
    border-radius: 20px;
    outline: none;
    padding: 0.5rem;
    background-color: #a6e3a1;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
/* for home page html */


/* for search.html */
.header-container {
    display: flex;
    /* justify-content: flex-end; */
}

.title-container {
    display: flex;
    justify-content: flex-start;
}

.menu-container {
    display: flex;
    align-items: flex-end;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 15px;
    margin: 15px;
}

.home, .about {
    display: flex;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
}

input {
    border: 2px solid #a6e3a1;
    border-radius: 20px;
    outline: none;
    padding: 0.5rem;
    width: 15rem;
}

button {
    border: 2px solid #a6e3a1;
    border-radius: 20px;
    outline: none;
    padding: 0.5rem;
    background-color: #a6e3a1;
    color: black;
    cursor: pointer;
}

.searchArea {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin: 10px;
}

.searchResults {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
    justify-self: center;
    align-self: center;
}

.plantResults {
    border-radius: 20px;
    background-color: #a6e3a1;
    padding: 10px;
}

.commonName, .sciName, .genusName, .familyName, .commonFamily {
    background-color: #a6e3a1;
    display: flex;
    justify-content: first baseline;
    align-content: first baseline;
    font-size: 12px;
    margin: 5px;
}

.photoResults {
    justify-self: center;
    align-self: center;
    background-size: cover;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    margin: 5px;
    padding: 5px;
}
/* for search.html */


/* for about.html */
input {
    border: 0;
    border: 2px solid #a6e3a1;
    padding: 10px;
    margin: 4px;
    width: 250px;
    font-size: 12px;
    text-transform: lowercase;
  }
  input[type="submit"] {
    background: #a6e3a1;
    color: #000000;
    font-weight: 800;
    padding: 10px;
  }
  input[type="message"] {
    padding: 10px;
    padding-bottom: 100px;
  }
/* for about.html */