body {
    text-align: center;
    background-color: #ffffff;
    margin: 0;
}

.home-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

h1 {
    z-index: 1;
    color: #a5e5f2;
    font-family: Bitter;
    font-size: 72px;
    cursor: pointer;
}

h1:hover {
    color: #ffffff;
    font-family: Bitter;
    font-size: 72px;
    cursor: pointer;
}

img {
    position: absolute;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    transition: opacity .5s ease-in;
}

img + img {opacity: 0;}